/Exercicio001/Robozinho/nbproject/private/
/Exercicio001/Robozinho/build/
/Exercicio002/Mapper/nbproject/private/
/Exercicio002/Mapper/build/
/ExercicioMenos001/ProcessadorDeStrings/nbproject/private/
/ExercicioMenos001/ProcessadorDeStrings/build/
/Exercicio003/EditorHTML/nbproject/private/
/Exercicio003/EditorHTML/build/
/Exercicio004/Option/nbproject/private/
/Exercicio004/Option/build/
/Exercicio004/Option/dist/
/Exercicio005/Url/build/
/Exercicio005/Url/nbproject/private/
/Exercicio006/LazySingleton/nbproject/private/
/Exercicio006/LazySingleton/build/
/Exercicio006/Builder/nbproject/private/
/Exercicio006/Builder/build/